<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Coup</title>
    <style>
      .action-container {display: none}
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="{{ url_for('static', filename="js/script.js") }}"></script>
    <!-- Run the script to join the room we specified on the start page -->
    <script>
      joinRoom("{{ room }}");
    </script>
</head>
<body>
<section class="content">
    <div id="settings" style="color:black;">
    </div>
    <div id="state" style="color:blue;">
    </div>
    <hr />
    <div id="prompt" style="color:green;">
    </div>
    <hr />
    <div id="error" style="color:red;">
    </div>
    <hr />
    <div id="info" style="color:black;">
    <hr />
    </div>
    <hr />
    <br />
    <div>
        <button type="button" id="start-button">Start</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="adversarial-agent-button">Add AdversarialAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="income-agent-button">Add IncomeAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="mimicking-agent-button">Add MimickingAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="pytorch-agent-button">Add PytorchAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="keras-agent-button">Add KerasAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="random-agent-button">Add RandomAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="tricky-agent-button">Add TrickyAgent</button>
    </div>
    <div>
        <button type="button" class="bot-button" id="honest-agent-button">Add HonestAgent</button>
    </div>
    <div class="action-container neutral-action-container">
      <button id="Income" class="action-button">Income</button>
    </div> 
    <div class="action-container neutral-action-container">
      <button id="Foreign Aid" class="action-button">Foreign Aid</button>
    </div>
    <div class="action-container neutral-action-container">
      <button id="Tax" class="action-button">Tax</button>
    </div>
    <div class="action-container neutral-action-container">
      <button id="Exchange" class="action-button">Exchange</button>
    </div>
    <div class="action-container targeted-action-container">
      <button id="Steal0" class="action-button">Steal 0</button><button id="Steal1" class="action-button">Steal 1</button><button id="Steal2" class="action-button">Steal 2</button><button id="Steal3" class="action-button">Steal 3</button><button id="Steal4" class="action-button">Steal 4</button><button id="Steal5" class="action-button">Steal 5</button>
    </div>
    <div class="action-container targeted-action-container">
      <button id="Assassinate0" class="action-button">Assassinate 0</button><button id="Assassinate1" class="action-button">Assassinate 1</button><button id="Assassinate2" class="action-button">Assassinate 2</button><button id="Assassinate3" class="action-button">Assassinate 3</button><button id="Assassinate4" class="action-button">Assassinate 4</button><button id="Assassinate5" class="action-button">Assassinate 5</button>
    </div>
    <div class="action-container targeted-action-container">
      <button id="Coup0" class="action-button">Coup 0</button><button id="Coup1" class="action-button">Coup 1</button><button id="Coup2" class="action-button">Coup 2</button><button id="Coup3" class="action-button">Coup 3</button><button id="Coup4" class="action-button">Coup 4</button><button id="Coup5" class="action-button">Coup 5</button>
    </div>
    <br />
    <div class="action-container reaction-container">
      <button id="block" class="action-button">Block Ambassador</button><button id="block" class="action-button">Block Captain</button><button id="block" class="action-button">Block Contessa</button><button id="block" class="action-button">Block Duke</button>
    </div> 
    <div class="action-container reaction-container">
      <button id="challenge" class="action-button">Challenge</button>
    </div> 
    <div class="action-container reaction-container">
      <button id="pass-button" class="action-button">Pass</button>
    </div> 
    <br />
    <div class="action-container card-choice-container">
      <button id="card0" class="action-button">0</button><button id="card1" class="action-button">1</button>
    </div> 
    <br />
    <div>
       <div>Enter multi-card selections here, space separated (e.g. "1 3")</div>
      <input id="actions"></input>
    </div>
    <div>
      <button id="submission">Submit</button>
    </div>
</section>
</body>
</html>


